body{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  background: #0F2027;
  background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  height: 100vh;
  color: #f6fafb;
}

h1{
  font-weight: 400;
}

.input-area{
  padding: 20px;
}

.input-area input{
  display: block;
  margin-bottom: 10px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  text-transform: uppercase;
  FONT-WEIGHT: 600;
  background-color: #f6fafb;
  color: #203A43;
  transition-duration: 0.4s;
}

button:hover{
  opacity: 0.5;
}
